[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
pylint-django = "*"
django-filter = "*"
requests = "*"
django-extensions = "*"
python-dotenv = "*"
datetime = "*"
python-dateutil = "*"
pytz = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
